doctype 5
html
  head
    title= config.titlePrefix
    block meta
      meta(charset='utf8')
      meta(name='robots', content='noodp')
      meta(name='description', content=config.description)
      meta(http-equiv='cleartype', content='on')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='HandheldFriendly', content='True')
      meta(name='MobileOptimized', content='320')
      meta(property='og:site_name', content=config.titlePrefix)
      meta(property='og:type', content='website')
      meta(property='og:title', content=config.titlePrefix)
      meta(property='og:url', content=config.url)
      meta(property='og:description', content=config.description)
    block stylesheets
      //- link(rel='stylesheet', href='/css/dashboard.css')
  body
    h1 Will be here soon
    code
      |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_
      br
      |&nbsp;&nbsp;&nbsp;__| | ___ | |_ _ __ ___ &nbsp; __ _ _ __
      br
      |&nbsp;&nbsp;/ _` |/ _ \| __| '_ ` _ \ / _` | '_ \
      br
      |&nbsp;| (_| | (_) | |_| | | | | | (_| | | | |
      br
      |&nbsp;&nbsp;\__,_|\___/ \__|_| |_| |_|\__,_|_| |_|
